.navbar {
    display: flex;
    color: #FFFFFF;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    position: relative;
    margin-top: 15px;
}

.menu {
    margin-left: 15px;
}

.lives {
    margin-right: 15px;
}

.fa-heart {
    padding-left: 5px;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
}

.toggleSidebar {
    position: relative;
}
